In [2]:
import pandas as pd
from bs4 import BeautifulSoup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
from sqlalchemy import create_engine

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [/Users/vasavdave/.wdm/drivers/chromedriver/mac64/94.0.4606.41/chromedriver] found in cache

In [4]:
lat_long = pd.read_html("https://www.latlong.net/category/states-236-14.html")[0]
lat_long

                   Place Name   Latitude   Longitude
0              Wisconsin, USA  44.500000  -89.500000
1          West Virginia, USA  39.000000  -80.500000
2            Vermont, the USA  44.000000  -72.699997
3              Texas, the USA  31.000000 -100.000000
4        South Dakota, the US  44.500000 -100.000000
5        Rhode Island, the US  41.700001  -71.500000
6              Oregon, the US  44.000000 -120.500000
7               New York, USA  43.000000  -75.000000
8       New Hampshire, the US  44.000000  -71.500000
9            Nebraska, the US  41.500000 -100.000000
10             Kansas, the US  38.500000  -98.000000
11        Mississippi, the US  33.000000  -90.000000
12              Illinois, USA  40.000000  -89.000000
13           Delaware, the US  39.000000  -75.500000
14        Connecticut, the US  41.599998  -72.699997
15           Arkansas, the US  34.799999  -92.199997
16               Indiana, USA  40.273502  -86.126976
17              Missouri, USA  38.573936  -92.603760
18               Florida, USA  27.994402  -81.760254
19                Nevada, USA  39.876019 -117.224121
20             Maine, the USA  45.367584  -68.972168
21              Michigan, USA  44.182205  -84.506836
22           Georgia, the USA  33.247875  -83.441162
23                Hawaii, USA  19.741755 -155.844437
24                Alaska, USA  66.160507 -153.369141
25             Tennessee, USA  35.860119  -86.660156
26              Virginia, USA  37.926868  -78.024902
27            New Jersey, USA  39.833851  -74.871826
28              Kentucky, USA  37.839333  -84.270020
29          North Dakota, USA  47.650589 -100.437012
30             Minnesota, USA  46.392410  -94.636230
31          Oklahoma, the USA  36.084621  -96.921387
32               Montana, USA  46.965260 -109.533691
33  Washington State, the USA  47.751076 -120.740135
34                  Utah, USA  39.419220 -111.950684
35              Colorado, USA  39.113014 -105.358887
36                  Ohio, USA  40.367474  -82.996216
37               Alabama, USA  32.318230  -86.902298
38              Iowa, the USA  42.032974  -93.581543
39            New Mexico, USA  34.307144 -106.018066
40        South Carolina, USA  33.836082  -81.163727
41          Pennsylvania, USA  41.203323  -77.194527
42               Arizona, USA  34.048927 -111.093735
43              Maryland, USA  39.045753  -76.641273
44         Massachusetts, USA  42.407211  -71.382439
45        California, the USA  36.778259 -119.417931
46                 Idaho, USA  44.068203 -114.742043
47               Wyoming, USA  43.075970 -107.290283
48        North Carolina, USA  35.782169  -80.793457
49             Louisiana, USA  30.391830  -92.329102

In [5]:
# new data frame with split value columns
new = lat_long["Place Name"].str.split(",", n = 1, expand = True)
  
# making separate first name column from new data frame
lat_long["States"]= new[0]
  
# making separate last name column from new data frame
lat_long["Country"]= new[1]
  
# Dropping old Name columns
lat_long.drop(columns =["Place Name"], inplace = True)
lat_long

     Latitude   Longitude            States   Country
0   44.500000  -89.500000         Wisconsin       USA
1   39.000000  -80.500000     West Virginia       USA
2   44.000000  -72.699997           Vermont   the USA
3   31.000000 -100.000000             Texas   the USA
4   44.500000 -100.000000      South Dakota    the US
5   41.700001  -71.500000      Rhode Island    the US
6   44.000000 -120.500000            Oregon    the US
7   43.000000  -75.000000          New York       USA
8   44.000000  -71.500000     New Hampshire    the US
9   41.500000 -100.000000          Nebraska    the US
10  38.500000  -98.000000            Kansas    the US
11  33.000000  -90.000000       Mississippi    the US
12  40.000000  -89.000000          Illinois       USA
13  39.000000  -75.500000          Delaware    the US
14  41.599998  -72.699997       Connecticut    the US
15  34.799999  -92.199997          Arkansas    the US
16  40.273502  -86.126976           Indiana       USA
17  38.573936  -92.603760          Missouri       USA
18  27.994402  -81.760254           Florida       USA
19  39.876019 -117.224121            Nevada       USA
20  45.367584  -68.972168             Maine   the USA
21  44.182205  -84.506836          Michigan       USA
22  33.247875  -83.441162           Georgia   the USA
23  19.741755 -155.844437            Hawaii       USA
24  66.160507 -153.369141            Alaska       USA
25  35.860119  -86.660156         Tennessee       USA
26  37.926868  -78.024902          Virginia       USA
27  39.833851  -74.871826        New Jersey       USA
28  37.839333  -84.270020          Kentucky       USA
29  47.650589 -100.437012      North Dakota       USA
30  46.392410  -94.636230         Minnesota       USA
31  36.084621  -96.921387          Oklahoma   the USA
32  46.965260 -109.533691           Montana       USA
33  47.751076 -120.740135  Washington State   the USA
34  39.419220 -111.950684              Utah       USA
35  39.113014 -105.358887          Colorado       USA
36  40.367474  -82.996216              Ohio       USA
37  32.318230  -86.902298           Alabama       USA
38  42.032974  -93.581543              Iowa   the USA
39  34.307144 -106.018066        New Mexico       USA
40  33.836082  -81.163727    South Carolina       USA
41  41.203323  -77.194527      Pennsylvania       USA
42  34.048927 -111.093735           Arizona       USA
43  39.045753  -76.641273          Maryland       USA
44  42.407211  -71.382439     Massachusetts       USA
45  36.778259 -119.417931        California   the USA
46  44.068203 -114.742043             Idaho       USA
47  43.075970 -107.290283           Wyoming       USA
48  35.782169  -80.793457    North Carolina       USA
49  30.391830  -92.329102         Louisiana       USA

In [6]:
state_cord = lat_long[['States','Latitude','Longitude']].copy()
state_cord.sort_values(by=['States']).reset_index(drop=True, inplace=True)

In [7]:
state_cord

              States   Latitude   Longitude
0          Wisconsin  44.500000  -89.500000
1      West Virginia  39.000000  -80.500000
2            Vermont  44.000000  -72.699997
3              Texas  31.000000 -100.000000
4       South Dakota  44.500000 -100.000000
5       Rhode Island  41.700001  -71.500000
6             Oregon  44.000000 -120.500000
7           New York  43.000000  -75.000000
8      New Hampshire  44.000000  -71.500000
9           Nebraska  41.500000 -100.000000
10            Kansas  38.500000  -98.000000
11       Mississippi  33.000000  -90.000000
12          Illinois  40.000000  -89.000000
13          Delaware  39.000000  -75.500000
14       Connecticut  41.599998  -72.699997
15          Arkansas  34.799999  -92.199997
16           Indiana  40.273502  -86.126976
17          Missouri  38.573936  -92.603760
18           Florida  27.994402  -81.760254
19            Nevada  39.876019 -117.224121
20             Maine  45.367584  -68.972168
21          Michigan  44.182205  -84.506836
22           Georgia  33.247875  -83.441162
23            Hawaii  19.741755 -155.844437
24            Alaska  66.160507 -153.369141
25         Tennessee  35.860119  -86.660156
26          Virginia  37.926868  -78.024902
27        New Jersey  39.833851  -74.871826
28          Kentucky  37.839333  -84.270020
29      North Dakota  47.650589 -100.437012
30         Minnesota  46.392410  -94.636230
31          Oklahoma  36.084621  -96.921387
32           Montana  46.965260 -109.533691
33  Washington State  47.751076 -120.740135
34              Utah  39.419220 -111.950684
35          Colorado  39.113014 -105.358887
36              Ohio  40.367474  -82.996216
37           Alabama  32.318230  -86.902298
38              Iowa  42.032974  -93.581543
39        New Mexico  34.307144 -106.018066
40    South Carolina  33.836082  -81.163727
41      Pennsylvania  41.203323  -77.194527
42           Arizona  34.048927 -111.093735
43          Maryland  39.045753  -76.641273
44     Massachusetts  42.407211  -71.382439
45        California  36.778259 -119.417931
46             Idaho  44.068203 -114.742043
47           Wyoming  43.075970 -107.290283
48    North Carolina  35.782169  -80.793457
49         Louisiana  30.391830  -92.329102

In [9]:
state_cord.to_csv("../Output/state_cord.csv")

In [35]:
# Engine connection
rds_connection_string = "postgres:postgres@localhost:5432/Real_Estate"
engine = create_engine(f'postgresql://{rds_connection_string}')

# Verifying that connection is made
engine.table_names()

# Loading data into Postgres Database 
state_cord.to_sql(name='State_Cords', con=engine, if_exists='append', index=False)

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/13/e3q8)