In [5]:
from flask import Flask, jsonify, render_template, redirect
import json
#import os
#import sqlite3
import psycopg2
#import socket
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

postgres = "postgres"
Real_Estate = "Real_Estate"
monthly_by_state = "monthly_by_state"

# postgres_url = f"postgresql://postgres:{config.postgres_pwd}@127.0.0.1:5432/{db_name}"
postgres_url = f"postgresql://postgres:{postgres}@127.0.0.1:5432/{Real_Estate}"
conn = psycopg2.connect(postgres_url)
cursor = conn.cursor()

cursor.execute(f'''SELECT state, state_id, median_listing_price,
        month_date_yyyymm, average_listing_price from {monthly_by_state}''')

results = cursor.fetchall()
price_data = [ {"states": result[0], "state_id":result[1],"median_listing_price": result[2], "month_date_yyyymm": result[3],
               "average_listing_price": result[4]}
              for result in results]

#cursor.execute(f'''SELECT state, median_listing_price, month_date_yyyymm, average_listing_price from {monthly_by_state}''')

#results = cursor.fetchall()
#price_data = [ {"states": result[0], "median_listing_price": result[1], "average_listing_price":result[3], "month_date_yyyymm":results[2]} for result in results]

conn.close()
print(type(price_data))

<class 'list'>

In [10]:
df = pd.DataFrame(price_data)
df.head()

,states,state_id,median_listing_price,month_date_yyyymm,average_listing_price
0,vermont,vt,350000.0,202108,545331.1847
1,nebraska,ne,255000.0,202108,329148.3166
2,kansas,ks,215000.0,202108,303980.0402
3,pennsylvania,pa,269900.0,202108,386871.3629
4,ohio,oh,212400.0,202108,300300.0766

In [45]:
#gdf = df.groupby(['states','month_date_yyyymm']).sum()
gdf = df.groupby(['states', 'month_date_yyyymm'], as_index=False).sum()
# Resetting index

gdf.head(10)

    states month_date_yyyymm  median_listing_price  average_listing_price
0  alabama            201607              189500.0            254490.5030
1  alabama            201608              189000.0            254652.5264
2  alabama            201609              187950.0            252861.2168
3  alabama            201610              185000.0            254128.9619
4  alabama            201611              184900.0            250861.2969
5  alabama            201612              181440.0            248405.9322
6  alabama            201701              182250.0            247307.2571
7  alabama            201702              184950.0            251042.9779
8  alabama            201703              189700.0            258710.4453
9  alabama            201704              195000.0            263372.3899

In [48]:
rd = gdf.to_json(orient = "index")

parsed = json.loads(rd)

In [49]:
with open('rd.txt', 'w', encoding='utf-8') as f:
    json.dump(parsed, f, ensure_ascii=False, indent=4)